@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body
{
    background: linear-gradient(145deg, #b5f9b1 0%, #b5f0e4 100%);
}
.quiz-app
{
    border: 1px solid #fff;
    background: #fff;
    margin: 40px auto 0;
    width: 80%;
    border-radius: 10px;
    max-width: 600px;
    padding: 25px;
}
.quiz-app h1
{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #000;
    margin: 15px;
}
.quiz-question 
{
    padding: 20px 0;
}
h2 
{
    text-align: center;
    font-size: 27px;
    padding: 5px;
}
ul 
{
    list-style-type: none;
    padding: 2px 35px;
}
ul li 
{
    font-size: 1.2rem;
    margin-top: 17px;
    width: 100%;
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    cursor: pointer;
}
ul li label 
{
    cursor: pointer;
    margin: 0px 4px;
}
button 
{
    background-color: #3c3c7c;
    color: #fff;
    border: none;
    display: block;
    width: 30%;
    font-size: 25px;
    font-family: inherit;
    margin: 5px auto 0;
    padding: 10px;
    border-radius: 10px;
}
button:hover 
{
    background-color: #852560;
}
button:focus 
{
    outline: none;
    background-color: #5e3370;
}